.jumbotron{
    background-color:yellowgreen;
    color:black;
    margin-top:50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:yellowgreen;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-pastel{
flex: 1 200px;
padding: 2px 0px 2px 0px;
margin-top: 10px;
margin-bottom: 50px;

}

.btn-ordenar{
width: 100%;
background-color: green;
border-color: green;
border-radius: 0%;


}


.footer-address-icon{
padding-right: 10px;


}



.tab-content {
padding-top: 10px;

}

. {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

