.jumbotron {
  background-color: #9acd32;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #9acd32;
  margin-top: 30px;
  margin-bottom: 10px; }

.card-pastel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-ordenar {
  width: 100%;
  background-color: green;
  border-color: green;
  border-radius: 0%; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
