$yellow:#f5f240;
$red:#bf351d;
$green:#9acd32;


@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
   
}

.jumbotron{
    background-color:$green;
    color:black;
    @include margenes(50px, 20px)
}

footer{
    padding: 10px 10px 0 10px;
    background-color:$green;
    @include margenes(30px, 10px)
}

.card-pastel{
flex: 1 200px;
padding: 2px 0px 2px 0px;
@include margenes(10px, 0px)
}

.btn-ordenar{
width: 100%;
background-color: green;
border-color: green;
border-radius: 0%;


}


.footer-address-icon{
padding-right: 10px;


}



.tab-content {
padding-top: 10px;

}

